.form-control{
  border: none;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.background {
  color: hsl(186, 61%, 71%);
  animation: wheelHueColor 100s infinite;
  background-color: currentColor;
  min-height: 100vh;
  display: flex;
}

@supports (background-blend-mode: overlay) {
  .background {
    background-image: linear-gradient(45deg, white 10%, black 90%);
    background-blend-mode: overlay;
  }
}

@keyframes wheelHueColor {
  from, to { color: hsl(360, 65%, 45%); }
  10%      { color: hsl( 36, 80%, 45%); }
  30%      { color: hsl( 72, 75%, 35%); }
  50%      { color: hsl(108, 65%, 35%); }
  60%      { color: hsl(144, 75%, 35%); }
  70%      { color: hsl(180, 75%, 35%); }
  80%      { color: hsl(216, 60%, 45%); }
  90%      { color: hsl(246, 67%, 48%); }
}
