<md-content flex layout>
  <md-card flex layout="column">
    <md-card-title>
      <span class="md-headline">Hi, name is</span>
    </md-card-title>
    <md-card-content>
      <h2>Card headline {{this.message}}</h2>
      <p>Card content</p>
    </md-card-content>
  </md-card>

  <md-card flex layout="column">
    <md-card-title>
      <span class="md-headline">Hi, name is</span>
    </md-card-title>
    <md-card-content>
      <h2>Card headline</h2>
      <p>Card content</p>
    </md-card-content>
  </md-card>

  <md-card flex layout="column">
    <md-card-title>
      <span class="md-headline">Hi, name is</span>
    </md-card-title>
    <md-card-content>
      <h2>Card headline</h2>
      <p>Card content</p>
    </md-card-content>
  </md-card>
</md-content>
