<md-content class="md-padding" layout-xs="column" layout="row" ng-controller="FeedController as feedCtrl">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">J-Cole new album title</span>
          </md-card-title-text>
        </md-card-title>
        <img ng-src="{{feedCtrl.img}}" class="md-card-image" alt="">
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
            </md-button>
          </md-card-icon-actions>
          <md-button ng-click = "tab = 1">Action 1</md-button>
          <md-button ng-click = "tab = 2">Action 2</md-button>
          <i class="material-icons">thumb_up</i>
          <i class="material-icons">thumb_down</i>
        </md-card-actions>
        <md-card-content>
          <p>
            this is the body content as a summary. If you like this then read more by clicking
            the read more option below...
            {{ feedCtrl.message }}...{{tab}}
          </p>
          <md-button class="md-raised md-primary">more...</md-button>
        </md-card-content>
      </md-card>
</md-content>
