<div ng-controller = "MainController as mainCtrl">
  <div class = "welcome-1">
    <h1>Welcome to music'em!</h1>
    <div class = "welcome-summary">
      <p>welcome tagline</p>
      <button></button>
    </div>
    <div class = "welcome-images">
      <img></img>
    </div>
    <div class = "welcome-bottom">
      <i>arrow</i>
    </div>
  </div>
  <div class = "welcome-2">
    <h1>Welcome to music'em!</h1>
    <div class = "welcome-summary">
      <p>welcome tagline</p>
      <button></button>
    </div>
    <div class = "welcome-images">
      <img></img>
    </div>
    <div class = "welcome-bottom">
      <i>arrow</i>
    </div>
  </div>
  <div class = "welcome-3">
    <h1>Welcome to music'em!</h1>
    <div class = "welcome-summary">
      <p>welcome tagline</p>
      <button></button>
    </div>
    <div class = "welcome-images">
      <img></img>
    </div>
    <div class = "welcome-bottom">
      <i>arrow</i>
    </div>
  </div>
  <div class = "welcome-4">
    <h1>Welcome to music'em!</h1>
    <div class = "welcome-summary">
      <p>welcome tagline</p>
      <button></button>
    </div>
    <div class = "welcome-images">
      <img></img>
    </div>
    <div class = "welcome-bottom">
      <i>arrow</i>
    </div>
  </div>
  <div class = "welcome-5">
    <h1>Welcome to music'em!</h1>
    <div class = "welcome-summary">
      <p>welcome tagline</p>
      <button></button>
    </div>
    <div class = "welcome-images">
      <img></img>
    </div>
    <div class = "welcome-bottom">
      <i>arrow</i>
    </div>
  </div>
  <div class = "welcome-6">
    <h1>Welcome to music'em!</h1>
    <div class = "welcome-summary">
      <p>welcome tagline</p>
      <button></button>
    </div>
    <div class = "welcome-images">
      <img></img>
    </div>
    <div class = "welcome-bottom">
      <i>arrow</i>
    </div>
  </div>
</div>
