body {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

.container {
  flex: 1; }

header {
  order: 1;
  height: 10vh;
  padding-bottom: 10%; }

.container {
  order: 2; }

footer {
  order: 3; }

.md-raised {
  background-color: #00BBD3; }

.welcome {
  color: #4A4A4A; }
  @media only screen and (max-width: 480px) {
    .welcome {
      padding: 7%;
      text-align: center; }
      .welcome h2 {
        font-size: 20pt; } }
