body {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

.container {
  flex: 1; }

header {
  order: 1;
  height: 10vh;
  padding-bottom: 10%; }

.container {
  order: 2; }

footer {
  order: 3; }

button .md-raised {
  background-color: #00BBD3 !important; }

.welcome {
  color: #4A4A4A;
  height: 100vh;
  padding: 7%;
  text-align: center;
  position: relative; }
  .welcome .welcome-bottom {
    position: relative;
    padding-bottom: 10%; }
    @media only screen and (max-width: 480px) {
      .welcome .welcome-bottom {
        top: calc(35% - 20%); } }
  .welcome .welcome-images {
    margin: 20% auto; }
    .welcome .welcome-images img {
      width: 20%; }
  @media only screen and (max-width: 480px) {
    .welcome h2 {
      font-size: 20pt; } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
  .welcome i {
    animation: bounce 2s infinite; }
